.listGridNumbers{
    background-color: transparent;
    display: grid;
    color: black;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    height: 320px;
}
.colorNumbers{
    background: #2E2F31  ;
    color: white;
    
}
.colorOperator{
    background: #4A4A4C  ;
    color: white;
}
.coloregale{
    background: #213477 ;
    color: white;
}
.numbers{
    border: 1px white solid;
    margin: 1px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.numbers:hover{
    background-color: grey;
}
.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.zero:hover{
    background-color: grey;

}
.aff{
    margin-bottom: 3.125rem;
    margin-top: 0.625rem;
    height: 5rem;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: #B2B8CC ;
}
.calculette{
    margin: 3.125rem;
    border: 10px solid gray;
    width: 34.375rem;
    height: 29rem;
    background-color: gray ;
}

#inputaff{
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    font-size: xx-large;
    text-align: right;
}